@(proname: String)(implicit session: Session)
@modules.main("样品管理", proname) {

    <style>
            .update {
                border-radius: 15px 15px 15px 15px;
                background-color: transparent;
                color: gray;
                border: 0px;
            }

            .update:hover {
                color: gray;
                background-color: lightgray;
            }

            .fastq {
                background-color: transparent;
                color: gray;
                border: 0px;
            }

            .fastq:hover {
                color: black;
                text-decoration: underline;
            }

            .delete {
                border-radius: 15px 15px 15px 15px;
                background-color: transparent;
                color: gray;
                border: 0px;
            }

            .delete:hover {
                color: white;
                background-color: red;
            }

            .state {
                display: none;
            }

            .layui-layer-title {
                background-color: #428BCA;
                height: 55px;
            }
    </style>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="#">
                    <i class='fa fa-cloud'></i>
                    样品管理
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet blue-madison box">

                <div class="portlet-title">
                    <div class="caption">
                        样品管理界面
                    </div>
                </div>


                <div class="portlet-body" id="t">

                    <div class="table-responsive" >

                        <table class="display table table-bordered table-hover table-striped" id="table" data-pagination="true" data-search="true"
                        data-search-align="left" data-page-list="[10, 25, 50, 100]" data-multiple-search="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="update" class="modal fade modal-margin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 600px;">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">
                        <span id="lblAddTitle" style="font-weight: bold">修改样品名：</span>
                    </h4>
                </div>
                <form id="updateForm" data-toggle="validator">
                    <div class="modal-body">
                        <div class="row-fluid">

                            <div class="row">

                                <div class="col-sm-8" style="display: none;" >
                                    <div class="form-group">
                                        <label class="control-label">
                                            ID：
                                        </label>
                                        <input class="form-control indent" id="sampleId" name="sampleId" readonly="readonly" >
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            新的样品名: </label>
                                        <input class="form-control" name="sample" id="sample" >
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer bg-info">
                        <button type="submit" class="btn blue" onclick="sureUpdate()">确定</button>
                        <button type="button" class="btn green" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
            $(function () {
                formValidation();
                createTable();
                updateTable();
            });

            function createTable() {
                $("#table").bootstrapTable({
                    columns: [{
                        field: "sample",
                        title: " 样品名",
                        sortable: "true",
                    }, {
                        field: "state",
                        title: "运行状态",
                        sortable: "true",
                        formatter: function (value, row) {
                            if (row.state === 0) {
                                return "正在运行 <img src='/assets/images/timg.gif'  style='width: 20px; height: 20px;'><input class='state' value='" + row.state + "'>";
                            } else if (row.state === 1) {
                                return "<span class='success-span'>成功</span><input class='state' value='" + row.state + "'>";
                            } else {
                                return "<span class='faild-span'>失败</span><input class='state' value='" + row.state + "'>";
                            }
                        }
                    }, {
                        field: "result",
                        title: "原始数据",
                        formatter: function (value, row) {
                            return "<a class='fastq' href='/meta/utils/downloadData?id="+ row.id +"&code=0' title='原始数据'><b>" + row.sample + "</b><b>_R1.fq</b></a>" +
                                    " <a class='fastq' href='/meta/utils/downloadData?id="+ row.id +"&code=1' title='原始数据'><b>" + row.sample + "</b><b>_R2.fq</b></a>"
                        }
                    }, {
                        field: "date",
                        title: "创建时间",
                        sortable: "true",
                    }, {
                        field: "operation",
                        title: "操作",

                        formatter: function (value, row) {
                            let log = "<button class=\"update\" onclick=\"OpenLog('" + row.id + "')\" ><i class=\"fa fa-file-text\"></i> 查看日志</button>";
                            let de = "<button class='delete' onclick=\"deleteShow('" + row.id + "','" + row.sample + "')\"><i class='fa fa-trash'></i> 删除样品</button>";
                            let rename = "<button class='update' onclick=\"openRename('" + row.id + "','" + row.sample + "')\"><i class='fa fa-edit'></i> 修改样品名</button>";
                            if (row.state === 2) {
                                return log + de;
                            }else if (row.state === 1){
                                return rename + de;
                            } else {
                                return de;
                            }
                        }
                    }]
                });
            }

            function formValidation() {
                $('#updateForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        sample: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                regexp: {
                                    regexp: '^[A-Za-z0-9"_"]{1,20}$',
                                    message: '请不要输入特殊字符！'
                                },
                                remote: {
                                    type: 'POST',
                                    url: '@routes.SampleController.checkSampleName(proname)',
                                    message: '样品名重复，请重新输入'
                                }
                            }
                        }
                    }
                })
            }

            function openRename(id,name) {
                $("#sample").empty();
                $("#sample").val(name);
                $("#sampleId").val(id);
                $("#update").modal("show")
            }

            function sureUpdate() {
                var form = $("#updateForm");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var index = layer.load(1, {
                        shade: [0.1, '#fff']
                    });
                    $.ajax({
                        url: "@routes.SampleController.updateSampleName()",
                        type: "post",
                        dataType: "json",
                        data: $("#updateForm").serialize(),
                        success: function (data) {
                            if (data.valid == "true") {
                                layer.close(index);
                                $("#update").modal("hide")
                                cpm("table", "修改成功");
                            }else{
                                deleteFailed(data.message)
                            }
                        }
                    })
                }
            }


            function deleteChoose(id) {
                deleting();
                $.ajax({
                    url: "/meta/sample/deleteSampleById?id=" + id,
                    type: "delete",
                    dataType: "json",
                    success: function (data) {
                        if (data.valid === "true") {
                            deleteAfter();
                        } else {
                            deleteFailed(data.message);
                        }
                    }
                });
            }

            function updateDelete() {
                $("#deleteShow").modal("hide");
                updateTable();
            }

            function openLog(obj) {
                $("#logInfo").empty();
                var id = obj.value;
                $.ajax({
                    url: "/diversity/sample/openLogFile?id=" + id,
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        $("#logInfo").append(data.log);
                        $("#logShow").modal("show")
                    }
                })
            }

            function updateTable() {
                $.post("@routes.SampleController.getAllSample(proname)", function (data) {
                    $("#table").bootstrapTable('load', data);
                })
            }
    </script>


}